$background-color: #181818;
$section-color: rgba(33,33,33, 0.95);

$secondary-color: #468cde;
$green: #52d273;
$red: #e94f64;
$grey: #d6d8de;

$text-color: white;

* {
    margin: 0;
    padding: 0;
}
