@import 'base';

body {
    background-color: $background-color;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $text-color;
    font-weight: normal;
    text-align: center;
}

#content {
    width: 85%;
    height: 100vh;
    margin: auto;
    background-color: $section-color;
}

#settings {
    h4 {
        color: $text-color;
        font-weight: normal;
    }
    
    display: flex;
    justify-content: space-between;
}

.inputColor {
    -webkit-appearance: none;
    border: none;
    background: none;
    width: 20px;
    height: 20px;
}

.inputColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

.inputColor::-webkit-color-swatch {
    border: none;
}

#formContainer {
    width: 30%;

    .barInput {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 20px;
        background-color: $section-color;
        color: white;
        border: none;
    }
}

#exampleBar, #formContainer {
    min-height: 250px;
    padding: 10px;
    background-color: $background-color;
}

#exampleBar, #progressBar {
    width: 55%;
    height: 50px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerContainer {
    height: 15%;
}

#barContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#progressBar {
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
}

#barInfo, #barTitle {
    line-height: 50px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#barTitle, #barInfo, #one, #two, #three {
    height: 100%;
    position: absolute;
}

#one {
    width: 75%;
    background-color: #00ff00;
}

#two {
    width: 50%;
    background-color: #ff3333;
}

#three {
    width: 25%;
    background-color: #cc00ff;
}

#barTitle {
    text-align: center;
    width: 40%;
}

#barInfo {
    width: 95%;
}

#current {
    float: left;
}

#goal {
    float: right;
}