$background-color: #181818;
$section-color: rgba(33, 33, 33, 0.95);

//$secondary-color: #468cde;
//$green: #52d273;
//$red: #e94f64;
//$grey: #d6d8de;

//$secondary-color: #468cde;
$green: #00a300;
$red: #fe2727;
$yellow: #cc7000;
$blue: #3ea6ff;
//$grey: #d6d8de;

$text-color: white;
$dark-text-color: #181818;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

#content {
    padding: 25px;
    width: 85%;
    min-height: calc(100vh - 50px);
    margin: auto;
    background-color: $section-color;
}

#banner {
    height: 100px;
}

h1 {
    color: $text-color;
    font-weight: normal;
    text-align: center;
}

hr {
    border-color: $dark-text-color;
    margin-top: 25px;
    margin-bottom: 25px;
}

.formInput {
    height: 20px;
    background-color: $section-color;
    color: white;
    border: none;
}

.submitButton {
    font-family: "Roboto", sans-serif;
    background-color: $blue;
    border: 1px solid $blue;
    padding: 5px;
    border-radius: 2px;
    font-size: 0.9rem;
    color: $dark-text-color;
}

.submitButton:hover {
    cursor: pointer;
}

.-active {
    display: block;
}
