.inputColor {
    -webkit-appearance: none;
    border: none;
    background: none;
    width: 20px;
    height: 20px;
}

.inputColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

.inputColor::-webkit-color-swatch {
    border: none;
}

#colorSettings {
    grid-column: 1/3;
    grid-row: 2/3;
}

.displayColor {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.colorInputContainer {
    border: 1px solid white;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}

.colorInput {
    display: none;
}
