#goalSettingsContainer {
    grid-column: 1/3;
    grid-row: 2/3;

    .barInput {
        font-family: "Roboto", sans-serif;
        width: 100%;
        height: 20px;
        background-color: $section-color;
        color: white;
        border: none;
    }
}
