#goalSettingsContainer {
    grid-column: 1/3;
    grid-row: 1;

    .barInput {
        font-family: "Roboto", sans-serif;
        width: 100%;
        height: 20px;
        background-color: $section-color;
        color: white;
        border: none;
    }
}

#settings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 25px;
    row-gap: 25px;

    label {
        color: $text-color;
        font-weight: normal;
    }
}
