@import "base";
@import "colorSettings";
@import "goalSettings";
@import "displayBar";

.dashboardContainer {
    min-height: 250px;
    padding: 10px;
    background-color: $background-color;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
