@import "base";

#login {
    padding: 20px;
    background-color: $background-color;
    width: 1000px;
    text-align: center;
}

.loginContainer {
    height: calc(100% - 50px);
}

.site-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.site-info-entry {
    margin-top: 25px;
    margin-bottom: 25px;
}

.loginHeader {
    color: $text-color;
    margin-bottom: 15px;
}

.twitch-login-button {
    cursor: pointer;
    background-color: #9146ff;
    color: $text-color;
    border: none;
    height: 35px;
    width: 200px;
    border-radius: 5px;
}
