@import "base";

#nav {
    height: 50px;
    background-color: $background-color;
    margin-bottom: 25px;
}

.linkContainer {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink,
.loginInfo {
    color: $blue;
    list-style: none;
    text-decoration: none;
}

.navLink:hover,
#navLogout:hover {
    text-decoration: underline;
}

#navLogout:hover {
    cursor: pointer;
}
