@import "base";

.socketTokenContainer {
    height: calc(100% - 125px);
}

.socket-token {
    color: $text-color;
    width: 800px;
    padding: 20px;
    background-color: $background-color;
}

.socket-token-instructions {
    margin-top: 25px;
    margin-bottom: 25px;
}

.socket-token-steps {
    list-style-position: inside;
}

.socket-error {
    display: block;
    margin-top: 7.5px !important;
}

.token-input {
    margin-top: 7.5px;
    width: 100%;
}
